snmp-server community {{ snmp_community }} R0
snmp-server location {{ location }}
snmp-server contact {{ snmp_contact }}
snmp-server chassis-id
snmp-server host {{ snmp_host }} {{ snmp_community }}
!
