{% set node = nodes[inventory_hostname] %}
router bgp {{ common.asn }}
 bgp log-neighbor-changes
{%  for farend in node.sbase %}
{%     if farend.type == 'L3VPN' %}
{%      set node = nodes[farend.remote] %}
 neighbor {{ node.system }} remote-as {{ common.asn }}
 neighbor {{ node.system }} update-source Loopback0
 !
 address-family vpnv4
  neighbor {{ node.system }} activate
  neighbor {{ node.system }} send-community both
 exit-address-family
!
{%     endif %}
{%  endfor %}
