#--------------------------------------------------
echo "System Configuration"
#--------------------------------------------------
    system
        name {{inventory_hostname}}
        exit
    exit
